* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(90deg, #e56399e1, rgba(30, 219, 131, 0.568));
    color: azure;
    font-family: 'Recursive', sans-serif;
    ;
}

header {
    font-size: 1.25rem;
}

header,
form,
footer {
    min-height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input,
form button {
    padding: .5rem;
    font-size: 1.5rem;
    border: none;
    background: white;
}

form button {
    background: white;
    color: rgb(6, 230, 125);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

form button:hover {
    background: rgb(6, 230, 125);
    color: white;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    color: rgb(6, 230, 125);
    width: 9rem;
    cursor: pointer;
    padding: .85rem;
}

.select-section {
    margin: 1.25rem;
    position: relative;
    overflow: hidden;
}

.select-section::after {
    content: "\25BC";
    position: absolute;
    background: rgb(3, 214, 116);
    top: 0;
    right: 0;
    padding: .75rem;
    transition: all 0.3s ease;
    pointer-events: none;
    color: white;
}

.select-section:hover::after {
    background: white;
    color: rgb(3, 214, 116);
}

.filter {}

.todo-display {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-card {
    margin: 0.5rem;
    background: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
    transition: all .75s ease;
}

.todo-list {
    list-style: none;
    min-width: 30%;
}

.todo-card li {
    flex: 1
}

.todo-item {
    padding: .25rem .75rem;
}

.edit-btn,
.complete-btn,
.delete-btn {
    background: rgb(3, 185, 100);
    color: white;
    border: none;
    padding: 0.75rem;
    font-size: 1.25rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.edit-btn {
    background: #E56399;
    margin-left: 5px;
}

.delete-btn {
    background: rgb(255, 166, 0);
}

.edit-btn:hover {
    color: rgba(230, 26, 230, 0.849);
    background: white;
}

.delete-btn:hover {
    color: rgb(255, 166, 0);
    background: white;
}

.complete-btn:hover {
    color: rgb(3, 185, 100);
    background: white;
}

.fa-edit,
.fa-trash-alt,
.fa-check-circle {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: .75;
}

.animationDelete {
    transform: translateX(5rem) rotateX(90deg);
    opacity: 0;
}